<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
        <!--<link rel = "stylesheet"
             type = "text/css"
             href = "/full-stack-web-FarisAlotibi/src/main/resources/static/css/Style.css" /> -->
             <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/>
        <style>
            strong,em {
                font-family:"Comic Sans MS";
            }
            span {
                font-family:"cursive";
            }
        </style>
    </head>
    <body class="w3-container">
                <hr />
        <div class="w3-border">
        <strong class="w3-xlarge">Update Certification</strong><br />
        <form data-th-object="${certification.id}" data-th-action="@{/certificationsUpdate/update/}+${certification.id}" name="addCertificationForm" data-th-method="put">
            <div class="w3-row" >
                <div class="w3-col s5" Style="margin-left:35px">
                    <em>Certification Name:</em> <input class="w3-input w3-border w3-round w3-padding-0" style="width:auto; display: inline-block; margin-left:35px;" type="text" name="certificationName" /><br />
                    <br />
                    <em>Certification Type:</em><br />
                    <input Style="margin-left:185px" type="radio" name="certificationType" value="Pentration Testing" checked="checked" /> <span>PenTesting</span><br />
                    <input Style="margin-left:185px" type="radio" name="certificationType" value="Forensics" /> <span>Forensics</span><br />
                    <input Style="margin-left:185px" type="radio" name="certificationType" value="Hacking" /> <span>Hacking </span><br />
                    <input Style="margin-left:185px" type="radio" name="certificationType" value="Privacy" /> <span>Privacy </span><br />
                    <input Style="margin-left:185px" type="radio" name="certificationType" value="Network " /> <span>Network  </span><br />
                    <input Style="margin-left:185px" type="radio" name="certificationType" value="Cloud" /> <span>Cloud</span><br />  <br />
                    <em Style="margin-right:3px ">Certification Organizer:</em>
                    <select Style="width:250px;" name="certificationOrgnizor">
                        <option value="None" selected="selected">None</option>
                        <option value="ELearnSecurity"> eLearnSecurity</option>
                        <option value="International_Association_of_Privacy_Professionals"> IAPP</option>
                        <option value="Cisco"> Cisco</option>
                        <option value="CompTIA"> CompTIA</option>
                        <option value="Offensive_Security"> Offensive Security</option>
                        <option value="International_Information_System_Security_Certification_Consortium"> ISC2</option>
                     </select><br />
                </div>
            <br/>      
        </div>
        <br/>
        <hr />
            <input class="w3-button w3-btn w3-button w3-round w3-gray" Style="margin-left:15px" type="submit" value="Update Certification"/>
        </form>
        <br/>
        </div>
        <hr Style="margin-bottom:10px; margin-top:10px" /> 
        <form data-th-action="@{/logout}" method="post">
            <input class="w3-button w3-btn w3-button w3-round w3-gray"  type="submit" value="Back" onclick="history.go(-1);"/>
        </form>
        <br/>
    </body>
</html>