<!DOCTYPE HTML>
<html>
    <!--<head data-ng-href="@{static/css/style.css}">-->
    <head>
        <title>User Courses</title>
        <!--<link rel="stylesheet" type="text/css" data-ng-href="static/css/style.css" />-->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" data-th-href="@{../../css/style.css}" />

        <!--<link rel = "stylesheet" type = "text/css" href = "/full-stack-web-FarisAlotibi/src/main/resources/static/css/Style.css" /> -->
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/>
        <style>
            strong,em {
                font-family:"Comic Sans MS";
            }
            span {
                font-family:"cursive";
            }
        </style>
    </head>

    <body class="w3-container">
        <div id="main">
            <div id="header">
                <div id="logo">
                    <div id="logo_text">
                        <!-- class="logo_colour", allows you to change the colour of the text -->
                        <h1><a data-th-href="@{/home}">Security<span class="logo_colour">Armor</span></a></h1>
                        <h2>Integrity. Authentication. Availability Assured.</h2>
                    </div>
                </div>
                <div id="menubar">
                    <ul id="menu">
                        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                        <li ><a data-th-href="@{/home}">Home</a></li>
                        <li><a data-th-href="@{/infoArms}">Ticket Requests</a></li>
                        <li><a data-th-href="@{/certifications}">Certifications</a></li>
                        <li><a data-th-href="@{/profiles}">Resume</a></li>
                        <li class="selected"><a data-th-href="@{/courses}">Courses</a></li>
                        <li><a data-th-href="@{/public/api/courses/course}">Ajax Validation</a></li>
                        <li><a data-th-href="@{/about}">About Us</a></li>
                    </ul>
                </div>
            </div>
            <div id="content_header"></div>
            <div id="site_content">
                <!--<div id="banner"></div>
                <div id="sidebar_container">
                    <div class="sidebar">
                        <div class="sidebar_top"></div>
                        <div class="sidebar_item"></div>
                        <div class="sidebar_base"></div>
                    </div>
                    <div class="sidebar">
                        <div class="sidebar_top"></div>
                        <div class="sidebar_item"></div>
                        <div class="sidebar_base"></div>
                    </div>
                    <div class="sidebar">
                        <div class="sidebar_top"></div>
                        <div class="sidebar_item"></div>
                        <div class="sidebar_base"></div>
                    </div>
                </div>-->
                <!--<div id="content">-->
                <div>
                    <hr />
                    <div class="w3-border" data-th-if="${isAdmin}">
                        <strong class="w3-xlarge">Update Course</strong><br />
                        <form data-th-object="${course.id}" data-th-action="@{/coursesUpdate/update/}+${course.id}" name="addCourseForm" data-th-method="put">
                            <div class="w3-row" >
                                <div class="w3-col s6" Style="margin-left:35px;">
                                    <em Style="margin-right:38px; ">Course Name:</em>
                                    <select class="w3-select w3-border w3-round w3-padding-0" Style="width:205px;" name="courseName">
                                        <option value="Other" selected="selected">Other</option>
                                        <option value="EthicalHacking"> Ethical Hacking</option>
                                        <option value="Pentesting"> Pentesting</option>
                                    </select><br />
                                    <br />
                                    <em >Course Description:</em> <!--<input class="w3-input w3-border w3-round w3-padding-0" style="width:auto; display: inline-block;" type="text" name="courseDescription" required/>-->
                                    <textarea Style="margin-top:8px; width:350px;" class="w3-input w3-border w3-round w3-padding-0" rows="4" cols="50" name="courseDescription" type="text" required=""></textarea><br />
                                    <br />
                                </div>
                                <div class="w3-col s5" >
                                    <em Style="margin-right:38px; margin-left:18px;">Course Link:</em> <input class="w3-input w3-border w3-round w3-padding-0" style="width:auto; display: inline-block;" type="url" id="link" name="courseLink" required=""/><br />
                                </div>
                                <br/>      
                            </div>
                            <br/>
                            <hr />
                            <input class="w3-button w3-btn w3-button w3-round w3-gray" Style="margin-left:15px" type="submit" value="Update Course"/>
                        </form>
                        <br/>
                    </div>
                    <hr Style="margin-bottom:10px; margin-top:10px" />
                    <div class="w3-row" > 
                        <div class="w3-col s2" Style="margin-left:35px">
                            <form data-th-action="@{/home}">
                                <input class="w3-button w3-btn w3-button w3-round w3-gray"  type="submit" value="Cancel" onclick="history.go(-1);"/>
                            </form>
                        </div>
                        <!--<div class="w3-col s2" Style="margin-left:35px"> 
                                <form data-th-action="@{/logout}" method="post">
                                    <input class="w3-button w3-btn w3-button w3-round w3-gray"  type="submit" value="Sign Out"/>
                                </form>
                        </div>-->
                    </div>
                    <br/>
                    <!-- insert the page content here -->
                </div>
            </div>
            <div id="content_footer"></div>
            <div id="footer">
                <p><a data-th-href="@{/home}">Home</a> | <a data-th-href="@{/about}">Contact Us</a></p>
                <p>Copyright &copy; InfoArmor </p>
            </div>
        </div>
    </body>
</html>
