<!DOCTYPE html>
<html>
    <head>
        <title>User Tickets</title>
        <!--<link rel = "stylesheet" type = "text/css" href = "/full-stack-web-FarisAlotibi/src/main/resources/static/css/Style.css" /> -->
             <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/>
        <style>
            strong,em {
                font-family:"Comic Sans MS";
            }
            span {
                font-family:"cursive";
            }
        </style>
    </head>
    <body class="w3-container">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Information Armer's!</h1>

        <div>
            <table class=" w3-table-all w3-table w3-striped w3-hoverable" style="border: 3px solid #666666">
                <tr class="w3-red">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ticket Type</th>
                 <th style="width:300px">Orgnization</th>
                    <th> Delete</th>
                    <th> Update</th>
                </tr>                
                <tr data-th-each="infoArm : ${infoArms}">
                    <td data-th-text="${infoArm.id}"></td>
                    <td data-th-text="${infoArm.ticketTitle}"></td>
                    <td data-th-text="${infoArm.ticketType}"></td>
                    <td>
                        <ul>
                            <li><em>Type:</em>
                                <span data-th-if="${infoArm.orgnization != null}" data-th-text="${infoArm.orgnization.orgnizationType}" data-th-remove="tag"></span>
                            </li>
                            <li><em>Number of Employee:</em>
                                <span data-th-if="${infoArm.orgnization != null}" data-th-text="${infoArm.orgnization.numberOfEmpolyee}" data-th-remove="tag"></span>
                            </li>
                            <li><em>Target: </em>
                                <span data-th-if="${infoArm.orgnization != null}" data-th-text="${infoArm.orgnization.orgnizationTarget}" data-th-remove="tag"></span>
                            </li>
                        </ul>
                    </td>
                    <td> 
                        <form data-th-object="${infoArm.id}" data-th-action="@{/infoArms/delete/}+${infoArm.id}" data-th-method="delete" onsubmit="return confirm('Are you sure of deleting?')">
                            <input class="w3-btn w3-round w3-gray " type="submit" value="Delete Ticket" /> 
                        </form>
                    </td>
                    <td>
                        <a data-th-object="${infoArm.id}" data-th-href="@{/infoArmsUpdate/update/}+${infoArm.id}"> Update </a>
                    </td>
                </tr>
            </table>
        </div>
        
        <hr />
        <div class="w3-border">
        <strong class="w3-xlarge">Add Ticket</strong><br />
        <form data-th-action="@{/infoArms/add}" name="addInfoArmForm" method="post">
            <div class="w3-row" >
                <div class="w3-col s5" Style="margin-left:35px">
                    <em>Ticket Title:</em> <input class="w3-input w3-border w3-round w3-padding-0" style="width:auto; display: inline-block;" type="text" name="ticketTitle" /><br />
                    <br />
                    <em>Ticket Type:</em><br />
                    <input type="radio" name="ticketType" value="Network_Security" checked="checked" /> <span>Network Security</span><br />
                    <input type="radio" name="ticketType" value="Software_Security" /> <span>Software Security</span><br />
                    <input type="radio" name="ticketType" value="Hardware_Security" /> <span>Hardware Security</span><br />
                    <input type="radio" name="ticketType" value="Information_Policy_Security" /> <span>Information Security and Policy</span><br />
                </div>
                <div class="w3-col s6" >
                    <ul>
                        <li>
                            <em Style="margin-right:35px ">Orgnization Type:</em>

                            <select Style="width:250px;" name="orgnization.orgnizationType">
                                <option value="None" selected="selected">None</option>
                                <option value="IT"> Information Technology</option>
                                <option value="Militory"> Militory</option>
                                <option value="Hospital"> Hospital</option>
                                <option value="Industry"> Industry</option>
                                <option value="Education"> Education</option>
                                <option value="Petroleom Producer"> Petroleom Producer</option>
                                <option value="Aircraft Manufacturer"> Aircraft Manufacturer</option>
                            </select><br />
                        </li>
                        <li>
                            <em Style="margin-right:10px">Number of Employee:</em>
                            <select Style="width: 250px;" name="orgnization.numberOfEmpolyee">
                                <option value="None" selected="selected">None</option>
                                <option value="2000"> 2000</option>
                                <option value="4000"> 4000</option>
                                <option value="8000"> 8000</option>
                                <option value="10000"> 10000</option>
                                <option value="More than 10000"> More than 10000</option>
                            </select><br />
                        </li>

                        <li>
                            <em Style="margin-right:20px">Orgnization Target:</em>
                            <select Style="width: 250px;" name="orgnization.orgnizationTarget">
                                <option value="None" selected="selected">None</option>
                                <option value="Goverment Workers"> Goverment Workers</option>
                                <option value="Health Care insurance"> Health Care insurance</option>
                                <option value="Academics"> Academics</option>
                                <option value="Militory Personnel"> Militory Personnel</option>
                                <option value="Different Type of Professionals"> Different Type of Professionals</option>
                            </select><br />
                        </li>
                    </ul>
                </div>
            <br/>  
        </div>
        <br/>
        <hr />
            <input class="w3-button w3-btn w3-button w3-round w3-gray" Style="margin-left:15px" type="submit" value="Add Ticket"/>
        </form>
        <br/>
        </div>

        <!--<div class="w3-border">
            <div class="w3-row" >
                <div class="w3-col s5" Style="margin-left:5px">
                    <strong class="w3-xlarge">Delete Ticket</strong><br />
                    <form data-th-action="@{/infoArms/delete}" name="deleteInfoArmForm" method="delete">
                        <div class="w3-col s2" Style="margin-left:35px">
                            <em>Ticket ID:</em> 
                        </div>
                        <div class="w3-col s3" Style="margin-left:35px">
                        <input type="text" name="id" /><br /> 
                        </div>          
                        <div class="w3-col s3" Style="margin-left:105px">
                            <input class="w3-button w3-btn w3-button w3-round w3-gray" type="submit" value="Delete Ticket"/>
                        </div>
                    </form>
                </div>
            </div>-->
        <hr Style="margin-bottom:10px; margin-top:10px" />
        <div class="w3-row" >
            <div class="w3-col s2" Style="margin-left:35px">
                <form data-th-action="@{/home}">
                    <input class="w3-button w3-btn w3-button w3-round w3-gray"  type="submit" value="Back"/>
                </form>
            </div>
            <div class="w3-col s2" Style="margin-left:35px"> 
                <form data-th-action="@{/logout}" method="post">
                    <input class="w3-button w3-btn w3-button w3-round w3-gray"  type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
        <br/>
        
    </body>
</html>
